@page "/about-us"

@* Import Bootstrap and FontAwesome *@
@* (Bootstrap is usually included in Blazor layout) *@

<head>
    <title>Book Paradise</title>
    <style>
        #about-info {
            text-align: center;
            background-color: rgba(0, 128, 64, .5);
            margin-top: 2vh
        }

    </style>
</head>

<HeadSection/>
<div class="container" id="about-info" style="text-align: center; background-color: rgba(0, 128, 64, .5); margin-top: 2vh;">
    <h1>About Book Paradise</h1>
    <h5>
        Book Paradise is a freely available online library that offers a collection of e-books with genres ranging from
        fantasy and science fiction to novels and stories. You can read all the books without signing up, but you need
        to create an account to give comments and ratings.
    </h5>
    <h3>Thank you very much for your interest in our library!</h3>
    <h3><i class="fas fa-address-book"></i> Thwin Htut Aung, Founder</h3>
    <h3><i class="fas fa-map-marker-alt"></i> Yangon, Myanmar</h3>
    <br><br>
</div>
<FooterSection/>